<%= form_with model: @article do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
